
.idea/
__pycache__/
.ipynb_checkpoints/
docs/build/
docs/source/_autosummary/
ml4cps/mlruns/
/dist/
mlruns/
ml4cps.egg-info/
build/
data/
papers/Energy-Based Learning of Timed Automata for Data-Driven Reconfiguration of CPSs/conveyor_system_reconfig_data.json
